<div class="col-md-8 blog-main">
    <h3 class="pb-3 mb-4 font-italic border-bottom">
      Últimas Publicações
    </h3>
    {% for post in posts %}
    <div class="blog-post">
      <span class="text-primary">{{post.category.name}}</span>
      <h2 class="blog-post-title">{{post.title}}</h2>
      <p class="blog-post-meta">{{post.created.strftime('%m/%d/%Y, %H:%M')}} by <a href="#">{{post.user.full_name}}</a></p>

      {{post.abstract}}
      <a href="{{url_for('posts.post_detail', id=post.id|int, slug=post.slug)}}">Continue reading</a>
    </div><!-- /.blog-post -->
    <hr>
    {% endfor %}

    <nav class="blog-pagination">
      <a class="btn btn-outline-primary" href="#">Previous</a>
      <a class="btn btn-outline-secondary disabled" href="#">Next</a>
    </nav>

  </div><!-- /.blog-main -->